* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
}

.square {
    border-width: 2px;
    border-style: solid;
    flex-shrink: 0;
    margin: -2px -2px 0 0;
    box-sizing: border-box;
}

.colored {
    background-color: black;
}

button {
    padding: 8px 16px;
    margin: 8px 0;
    font-size: 18px;
    display: block;
}

.buttons {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.active {
    font-weight: 700;
}